<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Music API (Version 2) | Homepage</title>
</head>

<body>
    <h1 class="page-title">Homepage</h1>
    <a href="/songs/upload/metadata">Upload New Song</a>
</body>

</html>